{% extends "base.html" %}{% load static %}

{% block html_head %}
    <link rel='stylesheet' href='{% static "css/main.css" %}' type='text/css' />
    {% if current_user.access.user_edit %}
        <link rel='stylesheet' href='{% static "css/select2.min.css" %}' type='text/css' />
        <link rel='stylesheet' href='{% static "css/select2-bootstrap4.min.css" %}' type='text/css' />
        <script src='{% static "js/select2.min.js" %}'></script>
        <script src='{% static "js/locales/select2.ru.js" %}'></script>
    {% endif %}
{% endblock %}
{% block html_top_breadcrumb %}
        <li class="nav-item active">
            <a href="{% url 'profile_list' %}" class="nav-link">Список пользователей</a>
        </li>
        <li class="nav-item">
            <span class="navbar-text">/</span>
        </li>
{% endblock %}
{% block html_body %}
    <main role="main" class="container-fluid">
        <div class="shadow card border-dark mb-3">
            <div class="card-header">
                <h4>Добавление нового пользователя:</h4>
            </div>
            <form method='post' action='' class="mb-0">
                {% csrf_token %}
                <div class="card-body">
                    {% for message in messages %}
                        <div class="mb-3">
                            <div class="alert alert-danger" role="alert">{{ message }}</div>
                        </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <h6>{{ form_create_user.first_name.label }}:</h6>
                            {{ form_create_user.first_name }}
                        </div>
                        <div class="col-md-6 mb-2">
                            <h6>{{ form_create_user.last_name.label }}:</h6>
                            {{ form_create_user.last_name }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <h6>{{ form_create_user.username.label }}:</h6>
                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text">@</span></div>
                                {{ form_create_user.username }}
                            </div>
                            <small class="form-text text-muted">{{ form_create_user.username.help_text }}</small>
                        </div>
                        <div class="col-md-6 mb-2">
                            <h6>{{ form_create_user.email.label }}:</h6>
                            {{ form_create_user.email }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <h6>{{ form_create_user.password.label}}:</h6>
                            {{ form_create_user.password }}
                            <small class="form-text text-muted">{{ form_create_user.password.help_text }}</small>
                        </div>
                        <div class="col-md-6 mb-2">
                            <h6>{{ form_create_user.password2.label }}:</h6>
                            {{ form_create_user.password2 }}
                            <small class="form-text text-muted">{{ form_create_user.password2.help_text }}</small>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary" type="submit">Сохранить</button>
                </div>
            </form>
        </div>
    </main>
    {% if current_user.access.user_edit %}
        <!-- Окно создания нового пользователя -->
        <div class="modal fade" id="ModalUserAdd" tabindex="-1" role="dialog" aria-labelledby="ModalUserAddTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content text-left">
                    <form method='post' action=''>
                        {% csrf_token %}
                        <div class="modal-header">
                            <h4 class="modal-title" id="ModalUserAddTitle">Добавление нового пользователя</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            {% for message in messages %}
                                <div class="mb-3">
                                    <div class="alert alert-danger" role="alert">{{ message }}</div>
                                </div>
                            {% endfor %}
                            <div class="row">
                                <div class="col-md-6 mb-2">
                                    <h6>{{ form_user.first_name.label }}:</h6>
                                    {{ form_user.first_name }}
                                    <small class="form-text text-muted">На русском языке.</small>
                                </div>
                                <div class="col-md-6 mb-2">
                                    <h6>{{ form_user.last_name.label }}:</h6>
                                    {{ form_user.last_name }}
                                    <small class="form-text text-muted">На русском языке.</small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-2">
                                    <h6>{{ form_user.username.label }}:</h6>
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text">@</span></div>
                                        {{ form_user.username }}
                                    </div>
                                    <small class="form-text text-muted">Обязательное поле. Только английские буквы.</small>
                                </div>
                                <div class="col-md-6 mb-2">
                                    <h6>{{ form_user.email.label }}:</h6>
                                    {{ form_user.email }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-2">
                                    <h6>{{ form_password.password1.label}}:</h6>
                                    {{ form_password.password1 }}
                                    <small class="form-text text-muted">Пароль не должен совпадать с логином и состоять только из цифр. Пароль должен содержать как минимум 8 символов.</small>
                                </div>
                                <div class="col-md-6 mb-2">
                                    <h6>{{ form_password.password2.label }}:</h6>
                                    {{ form_password.password2 }}
                                    <small class="form-text text-muted">Для подтверждения введите, пожалуйста, пароль ещё раз.</small>
                                </div>
                            </div>
                            {% for field in form_organization %}
                                <div class="row">
                                    <div class="col-md-12 mb-2">
                                        <h6>{{ field.label }}:</h6>
                                        {{ field }}
                                         <small class="form-text text-muted">{{ field.help_text }}</small>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="row">
                                <div class="col-md-12 mb-2">
                                    <h6>{{ form_user.access_role.label}}:</h6>
                                    {{ form_user.access_role }}
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit" name="adduser">Добавить</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Не добавлять</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /Окно создания нового пользователя -->
        <script>
            $(document).ready(function() {
                $('select[name=organization]').select2({
                    allowClear: true,
                    placeholder: "Выберите организацию",
                    theme: "bootstrap4",
                    language: "ru"
                });
                {% if show_form_user %}
                    $('#ModalUserAdd').modal('show');
                {% endif %}
            });
        </script>
    {% endif %}


{% endblock %}
