{% extends "base.html" %}{% load static %}

{% block html_title %}{{ title }}{% endblock %}
{% block html_head %}
    <link rel='stylesheet' href='{% static "css/main.css" %}' type='text/css' />
    <link rel='stylesheet' href='{% static "css/select2.min.css" %}' type='text/css' />
    <link rel='stylesheet' href='{% static "css/select2-bootstrap4.min.css" %}' type='text/css' />
    <script src='{% static "js/select2.min.js" %}'></script>
    <script src='{% static "js/locales/select2.ru.js" %}'></script>
{% endblock %}
{% block html_body %}
    <main role="main" class="container-fluid">
        <div class="row">
            <div class="col-auto mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
                    </ol>
                </nav>
            </div>
            <div class="col-auto mr-0 text-right">
                {% if current_user.access.user_edit %}
                    <a href="{% url 'profile_create' %}" class="btn btn-outline-primary" title="Добавить нового пользователя"><i class="fas fa-user-plus"></i> Добавить</a>
                {% endif %}
            </div>
        </div>
        <div class="shadow card border-dark mb-3">
            <div class="card-header">
                <h4>{{ title }}:</h4>
            </div>
            <div class="card-body">
                <div class="alert alert-{% if list_profile %}info{% else %}danger{% endif %} alert-dismissible fade show" role="alert">
                    {% if list_profile %}
                        Отображается пользователей - {{ list_profile | length }}, всего пользователей - {{ total_profile }}.
                    {% else %}
                        Совпадений в логине или фамилии пользователей не найдено.
                    {% endif %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method='post' action=''>
                    {% csrf_token %}
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Поиск пользователей</span>
                        </div>
                        {{ form_search_user.find }}
                        {{ form_organization_user.organization }}
                        <div class="input-group-append">
                            <button class="btn btn-info" type="submit" name="search">Поиск</button>
                        </div>
                    </div>
                </form>
                <table class="table table-hover table-sm table-borderless">
                    {% for profile in list_profile %}
                        <tr{% if profile.blocked %} class="table-danger"{% endif %}>
                            <td class="small">
                                <strong class="text-gray-dark">{{ profile.user.get_full_name }}</strong>
                                <span class="d-block">@{{ profile.user.get_username }}</span>
                            </td>
                            <td title="{{ profile.organization }}">
                                {{ profile.organization|truncatechars:40 }}
                            </td>
                            <td>
                                {% if profile.blocked %}Заблокирован{% endif %}
                            </td>
                            <td class="text-right ">
                                <a href="{% url 'profile_show' profile.id %}" class="btn btn-outline-secondary btn-sm" title="Перейти в профиль пользователя"><i class="fas fa-user"></i> Перейти в профиль</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </main>
    <script>
        $(document).ready(function() {
            $('select[name=organization]').select2({
                allowClear: true,
                placeholder: "Выберите организацию",
                theme: "bootstrap4",
                language: "ru"
            });
        });
    </script>
{% endblock %}
