{% extends "base.html" %}{% load static %}

{% block html_title %}Главная{% endblock %}
{% block html_head %}
    <link rel='stylesheet' href='{% static "css/main.css" %}' type='text/css' />
{% endblock %}
{% block html_body %}
    <main role="main" class="container-fluid">
        <div class="row">
            <div class="col-auto mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Список пользователей</li>
                    </ol>
                </nav>
            </div>
            <div class="col-auto mr-0 text-right">
                {% if current_user.access.user_edit %}
                    <a href="{% url 'profile_create' %}" class="btn btn-outline-primary" title="Добавить нового пользователя"><i class="fas fa-user-plus"></i> Добавить</a>
                {% endif %}
            </div>
        </div>
        <div class="shadow card border-dark mb-3">
            <div class="card-header">
                <h4>Список пользователей:</h4>
            </div>
            <div class="card-body">
                <div class="alert alert-{% if profiles_count %}info{% else %}danger{% endif %} alert-dismissible fade show" role="alert">
                    {% if profiles_count %}
                        Отображается пользователей - {{ profiles_count }}, всего пользователей - {{ profiles_total }}.
                    {% else %}
                        Совпадений в логине или фамилии пользователей не найдено, всего пользователей - {{ profiles_total }}.
                    {% endif %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method='post' action=''>
                    {% csrf_token %}
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Поиск пользователей</span>
                        </div>
                        {{ form_search_user.find }}
                        <div class="input-group-append">
                            <button class="btn btn-info" type="submit" name="search">Поиск</button>
                        </div>
                    </div>
                </form>
                <table class="table table-hover table-sm">
                    {% for u in profiles_list %}
                        <tr{% if u.blocked %} class="table-danger"{% endif %}>
                            <td>
                                <div class="mb-0 small">
                                    <strong class="text-gray-dark">{{ u.user.get_full_name }}</strong>
                                    <span class="d-block">@{{ u.user.get_username }}</span>
                                </div>
                            </td>
                            <td class="pt-2">
                                {% if u.blocked %}Заблокирован{% endif %}
                            </td>
                            <td class="text-right ">
                                <a href="{% url 'profile_show' u.id %}" class="btn btn-outline-secondary" title="Перейти в профиль пользователя"><i class="fas fa-user"></i> Перейти в профиль</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </main>
{% endblock %}
