{% extends "base.html" %}{% load static %}

{% block html_head %}
    <link rel='stylesheet' href='{% static "css/main.css" %}' type='text/css' />
    <link rel='stylesheet' href='{% static "css/select2.min.css" %}' type='text/css' />
    <link rel='stylesheet' href='{% static "css/select2-bootstrap4.min.css" %}' type='text/css' />
    <script src='{% static "js/select2.min.js" %}'></script>
    <script src='{% static "js/locales/select2.ru.js" %}'></script>
{% endblock %}
{% block html_body %}
    <main role="main" class="container-fluid">
        <div class="shadow card border-dark mb-3">
            <div class="card-header">
                <div class="row">
                    <div class="col-auto mr-auto">
                        <h4>{{ title }}:</h4>
                    </div>
                    <div class="col-auto mr-0 text-right">
                        {% if current_user.access.signature_edit %}
                            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#ModalSignAdd" title="Добавить новый файл электронной подписи"><i class="fas fa-file-signature"></i> Добавить</button>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-body">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    {% for status, list_signature in list_certificate %}
                        <li class="nav-item">
                            <a class="nav-link {% if forloop.first %}active{% endif %}" id="pills-{{ status.0 }}-tab" data-toggle="pill" href="#pills-{{ status.0 }}" role="tab" aria-controls="pills-{{ status.0 }}" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
                                {{ status.1 }} <span class="badge badge-secondary">{{ list_signature.count }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    {% for status, list_signature in list_certificate %}
                        <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="pills-{{ status.0 }}" role="tabpanel" aria-labelledby="pills-{{ status.0 }}-tab">
                            <table class="table table-sm table-hover table-borderless">
                                {% for signature in list_signature %}
                                    <tr{% if signature.valid_for.date < date_danger and signature.status == 0 %} class="table-danger"{% elif signature.valid_for.date < date_warning and signature.status == 0 %} class="table-warning"{% endif %}>
                                        <td>
                                            {{ signature.entity }}
                                        </td>
                                        <td>
                                            {{ signature.valid_from|date }} - {{ signature.valid_for|date }}
                                        </td>
                                        <td>
                                            <span title="{{ signature.owner.organization }}">{{ signature.owner.organization|truncatechars:40 }}</span>
                                        </td>
                                        <td class="text-right ">
                                            {% if current_user.access.signature_edit and current_user.organization == signature.owner.organization %}
                                                <a href="{% url 'signature_show' signature.id %}" class="btn btn-outline-secondary btn-sm" title="Перейти к сертификату"><i class="fas fa-file-contract"></i> Перейти к сертификату</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
    {% if current_user.access.signature_edit %}
        <!-- Окно добавления фала электронной подписи -->
        <div class="modal fade" id="ModalSignAdd" tabindex="-1" role="dialog" aria-labelledby="ModalSignAddTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                <div class="modal-content text-left">
                    <form method='post' action='{% url 'signature_file_upload' %}' enctype='multipart/form-data'>
                        {% csrf_token %}
                        <div class="modal-header">
                            <h4 class="modal-title" id="ModalSignAddTitle">Добавление файла электронной подписи</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    {{ form_upload.file_sign }}
                                    <small class="form-text text-muted border-top">{{ form_upload.file_sign.label }}</small>
                                </div>
                            </div>
                            {% if list_current_signature %}
                                <div class="row">
                                    <div class="col-md-12 mb-3 form-check">
                                        {% for status in form_upload.status %}
                                            <div class="form-check pl-0">
                                                {{ status }}
                                            </div>
                                        {% endfor %}
                                        <small class="form-text text-muted border-top">{{ form_upload.status.label }}</small>
                                    </div>
                                </div>
                                <div class="row" id="renew_choice">
                                    <div class="col-md-12 mb-2">
                                        <select name="renew" class="custom-select" required>
                                            {% for current_signature in list_current_signature %}
                                                <option value="{{ current_signature.id }}">{{ current_signature.entity }} ({{ current_signature.valid_from|date:"d E Y" }} - {{ current_signature.valid_for|date:"d E Y" }})</option>
                                            {% endfor %}
                                        </select>
                                        <small class="form-text text-muted">Выберите сертификат который продляется новым сертификатом</small>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit">Добавить</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Не добавлять</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /Окно добавления фала электронной подписи -->
        <script type="text/javascript">
            $(document).ready(function(){
                $('#renew_choice').hide();
                $('select[name=renew]').select2({
                    allowClear: true,
                    placeholder: "Выберите продляемую электронную подпись",
                    theme: "bootstrap4",
                    language: "ru"
                });
            });
            $('input#id_status_0').click(function () {
                    $('#renew_choice').hide();
                }
            );
            $('input#id_status_1').click(function () {
                    $('#renew_choice').show();
                }
            );
        </script>
    {% endif %}
{% endblock %}
