{% extends "base.html" %}{% load static %}

{% block html_title %}Главная{% endblock %}
{% block html_head %}
    <link rel='stylesheet' href='{% static "css/main.css" %}' type='text/css' />
{% endblock %}
{% block html_body %}
    <main role="main" class="container-fluid">
        <div class="row">
            <div class="col-auto mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Список электронных подписей</li>
                    </ol>
                </nav>
            </div>
            <div class="col-auto mr-0 text-right">
                {% if current_user.access.esign_edit %}
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#ModalSignAdd" title="Добавить нового файл электронной подписи"><i class="fas fa-file-signature"></i> Добавить</button>
                {% endif %}
            </div>
        </div>
        <h3>Список электронных подписей:</h3>
        <table class="table table-hover table-sm">
            <thead>
            <tr>
                <th scope="col">Субект</th>
                <th scope="col">Срок действия</th>
                <th scope="col"></th>
                {% if current_user.access.esign_edit %}
                    <th scope="col"></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for esign in esign_list %}
                <tr class="{% if esign.is_terminate %}table-danger{% elif esign.extended %}table-warning{% endif %}">
                    <td>
                        {{ esign.entity }}
                    </td>
                    <td>
                        С {{ esign.valid_from|date:"d E Y" }} по {{ esign.valid_for|date:"d E Y" }}
                    </td>
                    <td>
                        <ul class="list-inline mb-0">
                            {% if esign.is_terminate %}
                                <li class="list-inline-item">Аннулирован</li>
                            {% endif %}
                            {% if esign.extended %}
                                <li class="list-inline-item">Продлен {% if current_user.access.esign_edit %}<a href="{% url 'esign_show' esign.extended.id %}">сертификатом</a>{% else %}сертификатом{% endif %}</li>
                            {% endif %}
                        </ul>
                    </td>
                    {% if current_user.access.esign_edit %}
                        <td class="text-right ">
                            <a href="{% url 'esign_show' esign.id %}" class="btn btn-outline-secondary" title="Перейти в профиль пользователя"><i class="fas fa-file-contract"></i> Перейти к сертификату</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
    {% if current_user.access.esign_edit %}
        <!-- Окно добавления фала электронной подписи -->
        <div class="modal fade" id="ModalSignAdd" tabindex="-1" role="dialog" aria-labelledby="ModalSignAddTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content text-left">
                    <form method='post' action='{% url 'esign_list' %}' enctype='multipart/form-data'>
                        {% csrf_token %}
                        <div class="modal-header">
                            <h4 class="modal-title" id="ModalSignAddTitle">Добавление файла электронной подписи</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12 mb-2">
                                    <h6>{{ form_upload.file.label }}:</h6>
                                    {{ form_upload.file }}
                                </div>
                            </div>
                            {% if renew_list %}
                                <div class="row">
                                    <div class="col-md-12 mb-2">
                                        <h6>{{ form_upload.status.label }}:</h6>
                                        {% for status in form_upload.status %}
                                            {{ status }}
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="row" id="renew_choice">
                                    <div class="col-md-12 mb-2">
                                        <h6>Выберите сертификат который продляется новым сертификатом:</h6>
                                        <select name="renew" class="custom-select">
                                            <option selected value="0">---</option>
                                            {% for renew_id, renew_entity, renew_from, renew_for in renew_list %}
                                                <option value="{{ renew_id }}">{{ renew_entity }} ({{ renew_from|date:"d E Y" }} - {{ renew_for|date:"d E Y" }})</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit" name="addsign">Добавить</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Не добавлять</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /Окно добавления фала электронной подписи -->
        <script type="text/javascript">
            $(document).ready(function(){
                $('#renew_choice').hide();
            });
            $('input#id_status_0').click(function () {
                    $('#renew_choice').hide();
                }
            );
            $('input#id_status_1').click(function () {
                    $('#renew_choice').show();
                }
            );
        </script>
    {% endif %}
{% endblock %}
