{% extends "base.html" %}{% load static %}

{% block html_title %}Главная{% endblock %}
{% block html_head %}
    <link rel='stylesheet' href='{% static "css/main.css" %}' type='text/css' />
{% endblock %}
{% block html_body %}
    <main role="main" class="container-fluid">
        <div class="row">
            <div class="col-auto mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Список электронных подписей</li>
                    </ol>
                </nav>
            </div>
            <div class="col-auto mr-0 text-right">
                {% if current_user.access.esign_edit %}
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#ModalSignAdd" title="Добавить нового файл электронной подписи"><i class="fas fa-file-signature"></i> Добавить</button>
                {% endif %}
            </div>
        </div>
        <div class="shadow card border-dark mb-3">
            <div class="card-header">
                <h4>Список электронных подписей:</h4>
            </div>
            <div class="card-body">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    {% for status_number, status_name, list_esign in list_cert %}
                        <li class="nav-item">
                            <a class="nav-link {% if forloop.first %}active{% endif %}" id="pills-{{ status_number }}-tab" data-toggle="pill" href="#pills-{{ status_number }}" role="tab" aria-controls="pills-{{ status_number }}" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
                                {{ status_name }} <span class="badge badge-secondary">{{ list_esign.count }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    {% for status_number, status_name, list_esign in list_cert %}
                        <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="pills-{{ status_number }}" role="tabpanel" aria-labelledby="pills-{{ status_number }}-tab">
                            <table class="table table-sm table-hover table-borderless">
                                {% for esign in list_esign %}
                                    <tr{% if esign.valid_for.date < date_danger and esign.status == 0 %} class="table-danger"{% elif esign.valid_for.date < date_warning and esign.status == 0 %} class="table-warning"{% endif %}>
                                        <td>
                                            {{ esign.entity }}
                                        </td>
                                        <td>
                                            {{ esign.valid_from|date }} - {{ esign.valid_for|date }}
                                        </td>
                                        <td>
                                            <span title="{{ esign.owner.organization }}">{{ esign.owner.organization|truncatechars:40 }}</span>
                                        </td>
                                        <td class="text-right ">
                                            {% if current_user.access.esign_edit and current_user.organization == esign.owner.organization %}
                                                <a href="{% url 'esign_show' esign.id %}" class="btn btn-outline-secondary btn-sm" title="Перейти к сертификату"><i class="fas fa-file-contract"></i> Перейти к сертификату</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
    {% if current_user.access.esign_edit %}
        <!-- Окно добавления фала электронной подписи -->
        <div class="modal fade" id="ModalSignAdd" tabindex="-1" role="dialog" aria-labelledby="ModalSignAddTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content text-left">
                    <form method='post' action='{% url 'esign_file_upload' %}' enctype='multipart/form-data'>
                        {% csrf_token %}
                        <div class="modal-header">
                            <h4 class="modal-title" id="ModalSignAddTitle">Добавление файла электронной подписи</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12 mb-2">
                                    <h6>{{ form_upload.file.label }}:</h6>
                                    {{ form_upload.file }}
                                </div>
                            </div>
                            {% if list_current_esign %}
                                <div class="row">
                                    <div class="col-md-12 mb-2">
                                        <h6>{{ form_upload.select.label }}:</h6>
                                        {% for select in form_upload.select %}
                                            {{ select }}
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="row" id="renew_choice">
                                    <div class="col-md-12 mb-2">
                                        <h6>Выберите сертификат который продляется новым сертификатом:</h6>
                                        <select name="renew" class="custom-select">
                                            <option selected value="0">---</option>
                                            {% for esign in list_current_esign %}
                                                <option value="{{ esign.id }}">{{ esign.entity }} ({{ esign.valid_from|date:"d E Y" }} - {{ esign.valid_for|date:"d E Y" }})</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit">Добавить</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Не добавлять</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /Окно добавления фала электронной подписи -->
        <script type="text/javascript">
            $(document).ready(function(){
                $('#renew_choice').hide();
            });
            $('input#id_select_0').click(function () {
                    $('#renew_choice').hide();
                }
            );
            $('input#id_select_1').click(function () {
                    $('#renew_choice').show();
                }
            );
        </script>
    {% endif %}
{% endblock %}
