{% extends "base.html" %}{% load static %}

{% block html_title %}Главная{% endblock %}
{% block html_head %}
    <link rel='stylesheet' href='{% static "css/main.css" %}' type='text/css' />
{% endblock %}
{% block html_body %}
    <main role="main" class="container-fluid">
        <div class="row">
            <div class="col-auto mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Список электронных подписей</li>
                    </ol>
                </nav>
            </div>
            <div class="col-auto mr-0 text-right">
                {% if current_user.access.user_edit %}
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#ModalSignAdd" title="Добавить нового файл электронной подписи"><i class="fas fa-file-signature"></i> Добавить</button>
                {% endif %}
            </div>
        </div>

        <div class="card bg-light rounded shadow-sm">
            <div class="card-header">
                <h4>Список электронных подписей:</h4>
            </div>
            <div class="card-body">
                {% for esign in esign_list %}
                    <div class="row border-bottom bo">
                        <div class="col-auto mr-auto">
                            <div class="media text-muted pt-3">
                                <svg class="bd-placeholder-img mr-2 rounded" width="40" height="40" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="{% if u.blocked %}#dc3545{% else %}#28a745{% endif %}"></rect></svg>
                                <p class="media-body pb-3 mb-0 small lh-125">
                                    <strong class="d-block text-gray-dark">{{ u }}</strong>
                                    @{{ esign.valid_for }}
                                </p>
                            </div>
                        </div>
                        <div class="col-auto mr-0 pt-3 text-right">
{#                            <a href="{% url 'profile_show' u.id %}" class="btn btn-outline-secondary" title="Перейти в профиль пользователя"><i class="fas fa-user"></i> Перейти в профиль</a>#}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="card-footer">
                <small class="d-block text-right">Всего электронных подписей: {{ esign_total }}</small>
            </div>
        </div>
    </main>
    {% if current_user.access.user_edit %}
        <!-- Окно добавления фала электронной подписи -->
        <div class="modal fade" id="ModalSignAdd" tabindex="-1" role="dialog" aria-labelledby="ModalSignAddTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content text-left">
                    <form method='post' action=''>
                        {% csrf_token %}
                        <div class="modal-header">
                            <h4 class="modal-title" id="ModalSignAddTitle">Добавление фала электронной подписи</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12 mb-2">
                                    {{ form_upload }}
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit" name="addsign">Добавить</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Не добавлять</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /Окно добавления фала электронной подписи -->
    {% endif %}
{% endblock %}
