{% extends "base.html" %}{% load static %}

{% block html_title %}Главная{% endblock %}
{% block html_head %}
    <link rel='stylesheet' href='{% static "css/main.css" %}' type='text/css' />
{% endblock %}
{% block html_body %}
    <main role="main" class="container-fluid">
        <div class="row">
            <div class="col-auto mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Список организаций</li>
                    </ol>
                </nav>
            </div>
            <div class="col-auto mr-0 text-right">
                {% if current_user.access.organization_edit %}
                    <a href="{% url 'organization_create' %}" class="btn btn-outline-primary" title="Добавить новую организацию"><i class="fas fa-plus-square"></i> Добавить организацию</a>
                {% endif %}
            </div>
        </div>
        <div class="shadow card border-dark mb-3">
            <div class="card-header">
                <h4>Список организаций:</h4>
            </div>
            <div class="card-body">
                <table class="table table-hover table-sm table-borderless">
                    {% for organization in organization_list %}
                        <tr>
                            <td>
                                <div class="mt-2">
                                    <strong class="text-gray-dark">{{ organization.short_title }}</strong>
                                </div>
                            </td>
                            <td class="text-right ">
                                <a href="{% url 'organization_show' organization.id %}" class="btn btn-outline-secondary" title="Просмотр организации"><i class="fas fa-user"></i> Просмотр организации</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </main>
{% endblock %}
