{% extends "base.html" %}{% load static %}

{% block html_title %}{{ organization.short_title }}{% endblock %}
{% block html_head %}
    <link rel='stylesheet' href='{% static "css/main.css" %}' type='text/css' />
{% endblock %}
{% block html_body %}
    <main role="main" class="container-fluid">
        <div class="row">
            <div class="col-auto mr-auto">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'organization_list' %}">Список организаций</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ organization.short_title }}</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="shadow card border-dark mb-3">
            <div class="card-header">
                <h4>{{ organization.short_title }}:</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 mb-2">
                        <h5 class="border-bottom border-gray">{{ organization.short_title }}&nbsp;</h5>
                        <small class="form-text text-muted">Краткое наименование</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-2">
                        <h5 class="border-bottom border-gray">{{ organization.long_title }}&nbsp;</h5>
                        <small class="form-text text-muted">Полное наименование</small>
                    </div>
                </div>
                {% if organization.parent_organization %}
                    <div class="row">
                        <div class="col-md-12 mb-2">
                            <h5 class="border-bottom border-gray">{{ organization.parent_organization }}</h5>
                            <small class="form-text text-muted">Вышестоящая организация</small>
                        </div>
                    </div>
                {% endif %}
            </div>
            {% if current_user.access.organization_edit %}
                <div class="card-footer text-right">
                    <a href="{% url 'organization_edit' organization.id %}" type="button" class="btn btn-outline-info" title="Редактировать организацию"><i class="fas fa-pen-square"></i> Редактировать</a>
                    <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#ModalOrgDelete" title="Удалить организацию"><i class="fas fa-minus-square"></i> Удалить</button>
                </div>
            {% endif %}
        </div>
    </main>
    {% if current_user.access.organization_edit %}
        <!-- Окно запроса подтверждения на удаление -->
        <div class="modal fade" id="ModalOrgDelete" tabindex="-1" role="dialog" aria-labelledby="ModalOrgDeleteTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <form method='post' action='{% url 'organization_delete' organization.id %}' >
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalOrgDeleteTitle">Удалить организацию</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">Вы действительно хотите удалить организацию <strong>{{ organization }}</strong>?</div>
                        <div class="modal-footer">
                            <button class="btn btn-danger" type="submit">Удалить</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Не удалять</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /Окно запроса подтверждения на удаление -->
    {% endif %}
{% endblock %}
