__pycache__/
.idea/
venv/
upload/
static/
Equipment/migrations/
Equipment/__init__.py
Esign/migrations/
Esign/migrations/__init__.py
Esign/__init__.py
Main/migrations/
Main/__init__.py
Organization/migrations/
Organization/__init__.py
Profile/migrations/
Profile/__init__.py
SupportCenter/settings.py
SupportCenter/__init__.py
Workplace/migrations/
Workplace/__init__.py
manage.py
db.sqlite3
