{% extends "base.html" %}{% load static %}

{% block html_body %}
    <main role="main" class="container-fluid">
        {% include "messages.html" %}
        <div class="shadow card border-dark mb-3">
            <div class="card-header">
                <h4>{{ title }}:</h4>
            </div>
            <div class="card-body">
                <table class="table table-hover table-sm table-borderless">
                    <thead>
                    <tr>
                        <th scope="col">Время инцидента</th>
                        <th scope="col">Адрес:порт отправителя</th>
                        <th scope="col">Адрес:порт получателя</th>
                        <th scope="col">Протокол</th>
                        <th scope="col">Класс инцидента</th>
                        <th scope="col">Описание</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for incident in list_incident %}
                            <tr>
                                <td>
                                    {{ incident.time_stamp }}
                                </td>
                                <td>
                                    {{ incident.source_ip }}:{{ incident.source_port }}
                                </td>
                                <td>
                                    {{ incident.destination_ip }}:{{ incident.destination_port }}
                                </td>
                                <td>
                                    {{ incident.protocol_name }}
                                </td>
                                <td>
                                    {{ incident.class_incident }}
                                </td>
                                <td>
                                    {{ incident.message_incident }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
{% endblock %}
