{% extends "base.html" %}{% load static %}

{% block html_head %}
    <link rel='stylesheet' href='{% static "css/main.css" %}' type='text/css' />
{% endblock %}
{% block html_body %}
    <main role="main" class="container-fluid">
        <div class="shadow card border-dark mb-3">
            <div class="card-header">
                <div class="row">
                    <div class="col-auto mr-auto">
                        <h4>{{ title }}:</h4>
                    </div>
                    {% if violation_moderator %}
                        <div class="col-auto mr-0 text-right">
                            <a href="{% url 'violation_load' %}" class="btn btn-outline-primary" title="Загрузить новый отчет"><i class="fas fa-file-upload"></i> Загрузить отчет</a>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="card-body">
                {% for message in messages %}
                    <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
                <table class="table table-hover table-sm table-borderless">
                    {% for violation in list_violation %}
                        <tr>
                            <td>
                                <h5>Отчет от {{ violation.date_violation|date:"d E Y" }} года</h5>
                            </td>
                            <td class="text-right ">
                                <a href="{% url 'violation_show' violation.id %}" class="btn btn-outline-secondary btn-sm" title="Перейти к отчету"><i class="fas fa-list-alt"></i> Перейти к отчету</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </main>
{% endblock %}
