{% extends "base.html" %}{% load static %}

{% block html_body %}
    <div class="shadow card border-dark mb-3">
        <div class="card-header">
            <div class="row">
                <div class="col-auto mr-auto">
                    <h4>{{ title }}:</h4>
                </div>
                {% if violation_moderator %}
                    <div class="col-auto mr-0 text-right">
                        <a href="{% url 'violation:report_load' %}" class="btn btn-outline-primary" title="Загрузить новый отчет"><i class="fas fa-file-upload"></i> Загрузить отчет</a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="card-body">
            <table class="table table-hover table-sm table-borderless">
                {% for report in list_report %}
                    <tr>
                        <td>
                            <h5>Отчет от {{ report.date_report|date:"d E Y" }} года</h5>
                        </td>
                        <td class="text-right ">
                            <a href="{% url 'violation:report_show' report.id %}" class="btn btn-outline-secondary btn-sm" title="Перейти к отчету"><i class="fas fa-list-alt"></i> Перейти к отчету</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
