{% extends "base.html" %}{% load static %}

{% block html_body %}
    <div class="card shadow border-dark">
        <div class="card-header">
            <h4>{{ title }}:</h4>
        </div>
        <form method='post' action='' class="mb-0">
            {% csrf_token %}
            <div class="card-body">
                {% for field in formset %}
                    <div class="row">
                        <div class="col-md-12 mb-2">
                            <h6>{{ field.label }}:</h6>
                            {{ field }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" type="submit">Сохранить</button>
            </div>
        </form>
    </div>
{% endblock %}
