{% extends "base.html" %}{% load static %}

{% block html_head %}
    <link rel='stylesheet' href='{% static "css/main.css" %}' type='text/css' />
{% endblock %}
{% block html_body %}
    <main role="main" class="container-fluid">
        <div class="card-columns">
            {% for title_module, configure_module in list_configure.items %}
                <div class="card shadow border-dark">
                    <div class="card-header">
                        <h4>{{ title_module }}:</h4>
                    </div>
                    <div class="card-body">
                        {% for title_configure, link_configure in configure_module.items %}
                            <div class="row mb-2 border-bottom">
                                <div class="col-auto mr-auto mb-3">
                                    {{ title_configure }}
                                </div>
                                <div class="col-auto mr-0 text-right">
                                    <a href="{{ link_configure }}" class="btn btn-sm btn-outline-primary" title="Перейти в {{ title_configure }}">Перейти</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
