{% extends "base.html" %}{% load static %}

{% block html_body %}
    <div class="card shadow border-dark">
        <div class="card-header">
            <div class="row">
                <div class="col-auto mr-auto">
                    <h4>{{ title }}:</h4>
                </div>
                <div class="col-auto mr-0 text-right">
                    <a href="{% url url_create %}" class="btn btn-outline-primary" title="{{ title_create }}"><i class="fas fa-plus-square"></i> Добавить</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-hover table-sm table-borderless">
                <tbody>
                {% for item in list %}
                    <tr>
                        <td>
                            <strong class="h5">{{ item }}</strong>
                        </td>
                        <td class="text-right ">
                            <a href="{% url url_edit item.id %}" class="btn btn-outline-secondary" title="{{ title_edit }}">Редактировать</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
