{% extends "base.html" %}{% load static %}

{% block html_body %}
    <main role="main" class="container-fluid">
        {% include "messages.html" %}
        <div class="card shadow border-dark">
            <div class="card-header">
                <h4>{{ title }}:</h4>
            </div>
            <form method='post' action='' class="mb-0">
                {% csrf_token %}
                <div class="card-body">
                    {% for field in form_preset_title %}
                        <div class="row">
                            <div class="col-md-12 mb-2">
                                <h6>{{ field.label }}:</h6>
                                {{ field }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary" type="submit">Сохранить</button>
                </div>
            </form>
        </div>
    </main>
{% endblock %}
