{% extends "base.html" %}{% load static %}

{% block html_head %}
    <link rel='stylesheet' href='{% static "css/main.css" %}' type='text/css' />
{% endblock %}
{% block html_top_breadcrumb %}
        <li class="nav-item active">
            <a href="{% url 'configure_list' %}" class="nav-link">Список конфигураций</a>
        </li>
        <li class="nav-item">
            <span class="navbar-text">/</span>
        </li>
{% endblock %}
{% block html_body %}
    <main role="main" class="container-fluid">
        <div class="card shadow border-dark">
            <div class="card-header">
                <h4>{{ title }}:</h4>
            </div>
            <div class="card-body">
                {% for preset in list_preset %}
                    <div>{{ preset }}</div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
