{% extends "base.html" %}{% load static %}

{% block html_body %}
    <div class="shadow card border-dark mb-3">
        <div class="card-header">
            <div class="row">
                <div class="col-auto mr-auto">
                    <h4>{{ title }}:</h4>
                </div>
                <div class="col-auto mr-0 text-right"></div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <h5>{{ contract.title }}</h5>
                    <small class="form-text text-muted border-top">Наименование контракта</small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <h5>{{ contract.amount }}</h5>
                    <small class="form-text text-muted border-top">Планируемая сумма контракта</small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <h5>{{ contract.comment }}</h5>
                    <small class="form-text text-muted border-top">Описание контракта</small>
                </div>
            </div>
            {% for stage, list_attach in list_stage %}
                <div class="row">
                    <div class="col-md-12 mb-2">
                        <h5>{{ stage.status }}</h5>
                        <h6>{{ stage.comment_stage }}</h6>
                        <h6>Приложения:</h6>
                        <ul>
                            {% for attache in list_attach %}
                                <li>
                                    <form method="post" action='{% url 'attache_download' attache.id %}' class="mb-0">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-link p-0" title='Скачать файл "{{ attache.name }}"'>
                                            {{ attache.name | truncatechars:80 }}
                                        </button>
                                        ({{ attache.get_human_size }})
                                    </form>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-auto mr-auto">
                    <a href="" class="btn btn-outline-primary" title="Перейти к списку пользователей организации">Добавить стадию</a>
                </div>
                <div class="col-auto mr-0 text-right"></div>
            </div>
        </div>
    </div>
{% endblock %}
