{% extends "base.html" %}{% load static %}

{% block html_title %}Главная{% endblock %}
{% block html_head %}
    <link rel='stylesheet' href='{% static "css/main.css" %}' type='text/css' />
{% endblock %}
{% block html_body %}
    <main role="main" class="container-fluid">
        <div class="card-columns">
            {% if current_user.access.esign_list %}
                <div class="card shadow border-dark">
                    <div class="card-body">
                        <h5 class="card-title">Учет электронных подписей:</h5>
                        <ul class="list-unstyled">
                            {% ifequal esign_count_expires 0 %}
                                <li class="border-bottom border-grey">Действующие <span class="float-right">{{ esign_count_current }}</span></li>
                            {% else %}
                                <li class="border-bottom border-grey list-group-item-danger">Действующие (истекают) <span class="float-right">{{ esign_count_current }} ({{ esign_count_expires }})</span></li>
                            {% endifequal %}
                            <li class="border-bottom border-grey">Продленые <span class="float-right">{{ esign_count_extended }}</span></li>
                            <li class="border-bottom border-grey">Истекшие <span class="float-right">{{ esign_count_expired }}</span></li>
                            <li class="border-bottom border-grey">Аннулированные <span class="float-right">{{ esign_count_terminate }}</span></li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'esign_list' %}" class="btn btn-outline-primary" title="Перейти к подписям"><i class="fas fa-file-contract"></i> Перейти к подписям</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </main>
{% endblock %}
